{% extends "base.html" %}
{% block app_content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<h1>All Radiographic Reports</h1>
<hr />
<table id="table-1">
    <thead>
        <td>Date</td><td>4 Seasons or MVR?</td><td>Doctor</td><td>Practice</td><td>Patient</td><td>Owner</td><td>Species</td><td>Breed</td><td>Sex</td><td>Age</td><td>Full Report</td>
    </thead>
    <tbody>
    {% for u in radioreports %}
    <tr>
        <td>{{ u.date }}</td><td>{{ u.mvr4seasons }}</td><td>{{ u.doctor }}</td><td>{{ u.clinicName }}</td><td>{{ u.patient }}</td><td>{{ u.owner }}</td><td>{{ u.species }}</td><td>{{ u.breed }}</td><td>{{ u.sexPatient }}</td><td>{{ u.agePatient }}</td><td>See Full Report</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#table-1').DataTable();
    } );
</script>
{% endblock %}