{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<h1>All Misc Services</h1>
<hr />
    <table id="table-1">
        <thead>
            <tr>
                <td>Service ID</td><td>Service Type</td><td>Service Abbreviation</td><td>Report Type</td><td>Description</td><td>Price</td><td>Delete?</td>
            </tr>
        </thead>
        <tbody>
        {% for s in services %}
        <tr>
            <td>{{ s.serviceID }}</td><td>{{ s.serviceType }}</td><td>{{ s.serviceAbbr }}</td><td>{{ s.reportType }}</td><td>{{ s.description }}</td><td>{{ s.servicePrice }}</td><td>Delete?</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#table-1').DataTable();
    } );
</script>
{% endblock %}