{% extends 'bootstrap/base.html' %}
{% block title %}

      {% if title %}
      {{ title }} - MVR Database
      {% else %}
      Welcome to the MVR Database
      {% endif %}

{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
            MVR Database:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login/Register</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
    </nav>
{% endblock %}
{% block content %}
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div>
            {% block app_content %}{% endblock %}
        </div>
    </body>
{% endblock %}
