{% extends "base.html" %}
{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static',    filename='css/forms.css') }}">
<div class="radiograph-form">
    <h1>Echocardiographic Interpretation</h1>
    <hr />
    <form action="" method="post">
    {{ form.hidden_tag() }}
        <div class="top-row">
             <div class="top-column">
                <div class="form-section" id="dateDiv">
                {{ form.date.label }}
                {{ form.date(size=10, value=entry.date) }}
                {% for error in form.date.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                <div class="form-section" id="mvr4seasonsDiv">
                    {{ form.mvr4seasons.label }}
                    {{ form.mvr4seasons(size=1, value=entry.mvr4seasons)  }}
                    {% for error in form.mvr4seasons.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                 </div>
                <div class="form-section" id="doctorDiv">
                    {{ form.doctor.label }}
                    {{ form.doctor(size=1, value=entry.doctor) }}
                    {% for error in form.doctor.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-section" id="practiceDiv">
                    {{ form.practice.label }}
                    {{ form.practice(size=1, value=entry.clinicName) }}
                    {% for error in form.practice.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
             </div>
             <div class="top-column">
                 <div class="form-section" id="patientDiv">
                {{ form.patient.label }}
                {{ form.patient(size=12, value=entry.patient) }}
                {% for error in form.patient.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                 <div class="form-section" id="ownerDiv">
                {{ form.owner.label }}
                {{ form.owner(size=24, value=entry.owner) }}
                {% for error in form.owner.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                 <div class="form-section" id="speciesDiv">
                    {{ form.species.label }}
                    {{ form.species(size=6, value=entry.species) }}
                    {% for error in form.species.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
             <div class="top-column">
                 <div class="form-section" id="breedDiv">
                    {{ form.breed.label }}
                    {{ form.breed(size=12, value=entry.breed) }}
                    {% for error in form.breed.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                 </div>
                 <div class="form-section" id="sexDiv">
                    {{ form.sex.label }}
                    {{ form.sex(size=24, value=entry.sexPatient) }}
                    {% for error in form.sex.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                 </div>
                 <div class="form-section" id="ageDiv">
                    {{ form.age.label }}
                    {{ form.age(size=24, value=entry.agePatient) }}
                    {% for error in form.age.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                 </div>
                 <div class="form-section" id="weightDiv">
                    {{ form.weight.label }}
                    {{ form.weight(size=6, value=entry.weightPatient) }}
                    {% for error in form.weight.errors %}
                    <br />
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
         </div>
        <div id="clinicalHistory" style="margin-bottom:25px;">
            {{ form.clinicalHistory.label }}
            {{ form.clinicalHistory(size=360, value=entry.clinicalHistory) }}
            {% for error in form.clinicalHistory.errors %}
            <br />
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br />
        <div id="M-Mode_Box">
            <div id="M-Mode__Header">
                <span style="margin: 5px;margin-left:70px;">M-Mode</span><span style="margin: 5px;">Value</span><span style="margin: 5px;">Normal</span><span style="margin: 5px;">Range</span><span style="margin: 5px;">Result</span>
            </div>
            <div id="LV_Wall-d" class="M-Mode_Row">
                <span>LV Wall-d mm:</span> {{ form.LVFW_Distolic_Thickness(size=6, value=entry.LVFW_Distolic_Thickness) }} {{ form.lower_range_LV_wall_D(size=3, value=entry.lower_range_LV_wall_D) }} {{ form.upper_range_LV_wall_D(size=3, value=entry.upper_range_LV_wall_D) }} {{ form.LVFW_DT_result (size=4, value=entry.LVFW_DT_result) }}
            </div>
            <div id="LV_Wall-s" class="M-Mode_Row">
                <span>LV Wall-s mm:</span> {{ form.LVFW_Systolic_Thickness(size=6, value=entry.LVFW_Systolic_Thickness) }} {{ form.lower_range_LV_wall_S(size=3, value=entry.lower_range_LV_wall_S)}} {{ form.upper_range_LV_wall_S(size=3, value=entry.upper_range_LV_wall_S) }} {{ form.LVFW_ST_result (size=4, value=entry.LVFW_ST_result) }}
            </div>
            <div id="LV_Chamber-d" class="M-Mode_Row">
                <span>LV Chamber-d mm:</span> {{ form.Left_Vent_Diastolic(size=6, value=entry.Left_Vent_Diastolic) }} {{ form.lower_range_LV_Chamber_D(size=3, value=entry.lower_range_LV_Chamber_D) }} {{ form.upper_range_LV_Chamber_D(size=3, value=entry.upper_range_LV_Chamber_D) }} {{ form.LV_DD_result (size=4, value=entry.LV_DD_result) }}
            </div>
            <div id="LV_Chamber-s" class="M-Mode_Row">
                <span>LV Chamber-s mm:</span> {{ form.Left_Vent_Systolic(size=6, value=entry.Left_Vent_Systolic) }} {{ form.lower_range_LV_Chamber_S(size=3, value=entry.lower_range_LV_Chamber_S) }} {{ form.upper_range_LV_Chamber_S(size=3, value=entry.upper_range_LV_Chamber_S) }} {{ form.LV_SD_result (size=3, value=entry.LV_SD_result) }}
            </div>
            <div id="Fractional_Shortening" class="M-Mode_Row">
                <span>Fractional Shortening (%):</span> {{ form.Shortening_Fraction (size=6, value=entry.Shortening_Fraction) }} {{ form.lower_range_fractional_shortening (size=3, value=entry.lower_range_fractional_shortening) }} {{ form.upper_range_fractional_shortening (size=3, value=entry.upper_range_fractional_shortening) }} {{ form.SF_result (size=4, value=entry.SF_result) }}
            </div>
            <div id="septum-d" class="M-Mode_Row">
                <span>Septum-d mm:</span> {{ form.IVS_Diastolic_Thickness (size=6, value=entry.IVS_Diastolic_Thickness) }} {{ form.lower_range_septum_d(size=3, value=entry.lower_range_septum_d) }} {{ form.upper_range_septum_d(size=3, value=entry.upper_range_septum_d) }} {{ form.IVS_DT_result (size=4, value=entry.IVS_DT_result) }}
            </div>
            <div id="septum-s" class="M-Mode_Row">
                <span>Septum-s mm:</span> {{ form.IVS_Systolic_Thickness (size=6, value=entry.IVS_Systolic_Thickness) }} {{ form.lower_range_septum_s(size=3, value=entry.lower_range_septum_s) }} {{ form.upper_range_septum_s(size=3, value=entry.upper_range_septum_s) }} {{ form.IVS_ST_result (size=4, value=entry.IVS_ST_result) }}
            </div>
            <div id="aorta" class="M-Mode_Row">
                <span>Aorta, mm:</span> {{ form.Aortic_Root(size=6, value=entry.Aortic_Root) }} {{ form.lower_range_aorta(size=3, value=entry.lower_range_aorta) }} {{ form.upper_range_aorta(size=3, value=entry.upper_range_aorta) }} {{ form.AR_result (size=4, value=entry.AR_result) }}
            </div>
            <div id="left-atrium" class="M-Mode_Row">
                <span>Left Atrium, mm:</span> {{ form.Left_Atrium(size=6, value=entry.Left_Atrium) }} {{ form.lower_range_left_atrium(size=3, value=entry.lower_range_left_atrium) }} {{ form.upper_range_left_atrium(size=3, value=entry.upper_range_left_atrium) }} {{ form.LA_result (size=4, value=entry.LA_result) }}
            </div>
            <div id="la/ao" class="M-Mode_Row">
                <span>LA/AO:</span> {{ form.Left_Atrium_over_AO(size=6, value=entry.Left_Atrium_over_AO) }} {{ form.lower_range_la_over_ao(size=3, value=entry.lower_range_la_over_ao) }} {{ form.upper_range_la_over_ao(size=3, value=entry.upper_range_la_over_ao) }} {{ form.la_over_ao_result (size=4, value=entry.la_over_ao_result) }}
            </div>
            <div id="EPSS" class="M-Mode_Row">
                <span>EPSS, mm:</span> {{ form.EPSS(size=6, value=entry.EPSS) }} <span><</span> {{ form.upper_range_epss(size=3, value=entry.upper_range_epss) }} {{ form.epss_result (size=4, value=entry.epss_result) }}
            </div>
        </div>
        <br />
        <div id="M-Mode_Comments">
            {{ form.m_mode_comments.label }}
            {{ form.m_mode_comments(size=6, value=entry.m_mode_comments) }}
            {% for error in form.m_mode_comments.errors %}
            <br />
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <hr />
        <div id="echo_doppler_findings">
            {{ form.echo_doppler_findings.label }}
            {{ form.echo_doppler_findings(size=360, value=entry.echo_doppler_findings) }}
            {% for error in form.echo_doppler_findings.errors %}
            <br />
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <hr />
        <div id="Echo_B_mode_findings">
            {{ form.Echo_B_mode_findings.label }}
            {{ form.Echo_B_mode_findings(size=360, value=entry.Echo_B_mode_findings) }}
            {% for error in form.Echo_B_mode_findings.errors %}
            <br />
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <hr />
        <div id="Echo_Conclusions">
            {{ form.Echo_Conclusions.label }}
            {{ form.Echo_Conclusions(size=360, value=entry.Echo_Conclusions) }}
            {% for error in form.Echo_Conclusions.errors %}
            <br />
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
           <input id="calculate" value="calculate">
        <p>{{ form.submit() }}</p>
    </form>
</div>
<script type="text/javascript" src="../static/js/echocardiographicCalculation.js"></script>
{% endblock %}