{% extends "base.html" %}
{% block app_content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<h2>Recent Reports</h2>
<table id="table-1">
    <thead>
    <tr><td>Report Type</td><td>MVR or 4 Seasons?</td><td>Patient Name</td><td>Clinic Name</td><td>Date</td><td>Add to Invoice?</td></tr>
    </thead>
    <tbody>
        {% for c in report_ct %}
        <tr>
            <td>CT</td><td>{{ c.mvr4seasons }}</td><td>{{ c.patient }}</td><td>{{ c.clinic }}</td><td>{{ c.timestamp }}</td><td><button onclick="Invoice.dispatcher(this)" class="add-to-invoice" type="button" data-reportService ="CT" data-reportDoctor ={{ c.doctor }} data-reportPatient ={{ c.patient }} data-reportID ={{ c.id }} data-price="300">Add</button></td>
        </tr>
        {% endfor %}

        {% for r in report_radio %}
        <tr>
            <td>Radiographic</td><td>{{ r.mvr4seasons }}</td><td>{{ r.patient }}</td><td>{{ r.clinic }}</td><td>{{ r.timestamp }}</td><td><button onclick="Invoice.dispatcher(this)" class="add-to-invoice" type="button" data-reportService ="Radiographic" data-reportDoctor ={{ r.doctor }} data-reportPatient ={{ r.patient }} data-reportID ={{ r.id }} data-price="200">Add</button></td>
        </tr>
        {% endfor %}

        {% for u in report_us %}
        <tr>
            <td>Ultrasound</td><td>{{ u.mvr4seasons }}</td><td>{{ u.patient }}</td><td>{{ u.clinic }}</td><td>{{ u.timestamp }}</td><td><button onclick="Invoice.dispatcher(this)"  class="add-to-invoice" type="button" data-reportService ="Ultrasound" data-reportDoctor ={{ u.doctor }} data-reportPatient ={{ u.patient }} data-reportID ={{ u.id }} data-price="300">Add</button></td>
        </tr>
        {% endfor %}

        {% for m in misc %}
        <tr>
            <td>{{ m.service }} / Misc</td><td>{{ m.mvr4seasons }}</td><td>{{ m.patient }}</td><td>{{ m.clinic }}</td><td>{{ m.timestamp }}</td><td><button onclick="Invoice.dispatcher(this)" class="add-to-invoice" type="button" data-reportService ={{ m.service }} data-reportDoctor ={{ m.doctor }} data-reportPatient ={{ m.patient }}  data-reportID ={{ m.id }} data-price="{{ m.price }}">Add</button></td>
        </tr>
        {% endfor %}

        {% for e in echo %}
        <tr>
            <td>Echocardiography</td><td>{{ e.mvr4seasons }}</td><td>{{ e.patient }}</td><td>{{ e.clinic }}</td><td>{{ e.timestamp }}</td><td><button onclick="Invoice.dispatcher(this)" class="add-to-invoice" type="button" data-reportService = "Echocardiography" data-reportDoctor ={{ e.doctor }} data-reportPatient ={{ e.patient }} data-reportID ={{ e.id }} data-price="400">Add</button></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="invoice-form">
    <h1>New Invoice:</h1>
    <hr/>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-section" id="date">
                {{ form.date.label }}
                {{ form.date(size=10) }}
                {% for error in form.date.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-section" id="mvr4seasons">
                {{ form.mvr4seasons.label }}
                {{ form.mvr4seasons(size=1) }}
                {% for error in form.mvr4seasons.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-section" id="doctor">
                {{ form.doctor.label }}
                {{ form.doctor(size=1) }}
                {% for error in form.doctor.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-section" id="practice">
                {{ form.practice.label }}
                {{ form.practice(size=1) }}
                {% for error in form.practice.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div id="slot-1">
                <div class="form-section reportPatient" id="patient1">
                {{ form.patient1.label }}
                {{ form.patient1(size=1) }}
                {% for error in form.patient1.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportDoctor" id="doctor1">
                {{ form.doctor1.label }}
                {{ form.doctor1(size=1) }}
                {% for error in form.doctor1.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportService" id="service1">
                {{ form.service1.label }}
                {{ form.service1(size=1) }}
                {% for error in form.service1.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportPrice" id="price1">
                {{ form.price1.label }}
                {{ form.price1(size=1) }}
                {% for error in form.price1.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportID" id="reportID1">
                {{ form.reportID1.label }}
                {{ form.reportID1(size=1) }}
                {% for error in form.reportID1.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
            </div>

            <div id="slot-2">
                <div class="form-section reportPatient" id="patient2">
                {{ form.patient2.label }}
                {{ form.patient2(size=1) }}
                {% for error in form.patient2.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportDoctor" id="doctor2">
                {{ form.doctor2.label }}
                {{ form.doctor2(size=1) }}
                {% for error in form.doctor2.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportService" id="service2">
                {{ form.service2.label }}
                {{ form.service2(size=1) }}
                {% for error in form.service2.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportPrice" id="price2">
                {{ form.price2.label }}
                {{ form.price2(size=1) }}
                {% for error in form.price2.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportID" id="reportID2">
                {{ form.reportID2.label }}
                {{ form.reportID2(size=1) }}
                {% for error in form.reportID2.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
            </div>


            <div id="slot-3">
                <div class="form-section reportPatient" id="patient3">
                {{ form.patient3.label }}
                {{ form.patient3(size=1) }}
                {% for error in form.patient3.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportDoctor" id="doctor3">
                {{ form.doctor3.label }}
                {{ form.doctor3(size=1) }}
                {% for error in form.doctor3.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportService" id="service3">
                {{ form.service3.label }}
                {{ form.service3(size=1) }}
                {% for error in form.service3.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportPrice" id="price3">
                {{ form.price3.label }}
                {{ form.price3(size=1) }}
                {% for error in form.price3.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="form-section reportID" id="reportID3">
                {{ form.reportID3.label }}
                {{ form.reportID3(size=1) }}
                {% for error in form.reportID3.errors %}
                <br />
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
            </div>
        <br />
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="../static/js/invoice.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#table-1').DataTable();
    } );
</script>
{% endblock %}